<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.nlaz.albus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DailyReviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateMomentActivity" />
        <activity android:name=".MomentsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DailyReviewActivity" />
        </activity>
        <activity android:name=".CollectionsActivity" />
        <activity android:name=".CreateCollectionActivity" />
    </application>

</manifest>